/* src/App.css */

/* Set the background color for all elements */
/* Set styles for the container */
.container {
  max-width: 960px;
  margin: 0 auto;
}
#editor{
  background-color:skyblue;
}

/* Set styles for textarea and #preview */
textarea,
#preview {
  width: 100%;
  min-height: 300px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
  font-size: 16px;
}

/* Set styles specifically for #preview */
#preview {
  padding: 15px;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.075);
  background-color: white;
  /* This will override the background color set for all elements */
}